* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F1F4F2;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  max-width: 80%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 30px;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 33px;
  }
}

button {
  width: 80%;
  max-width: 200px;
  padding: 10px;
  border: 2px solid #010b20;
  font-size: 16px;
  margin: 0 10px;
  transition: .3s;
  border-radius: 13px;
}

.button-outline {
  background: none;
  color: black;
}

.button-outline:hover {
  background-color: #010b20;
  color: white;
}

.button-solid {
  background-color: #010b20;
  border: 2px solid #010b20;
  color: white;
}

.button-solid:hover {
  background: none;
  color: black;
}

.nav-wrap-c {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: .7s;
}

.nav-wrap-c .navbar-c {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  background: none;
  transition: background-color .8s, height .8s;
  z-index: 110;
}

.nav-wrap-c .navbar-c .nav-brand-c {
  height: 60px;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transition: .8s;
}

.nav-wrap-c .navbar-c .nav-brand-c h2 {
  transition: .8s;
}

.nav-wrap-c .navbar-c .nav-brand-c img {
  width: 100%;
}

.nav-wrap-c .navbar-c .nav-brand-c img:last-child {
  display: none;
}

.nav-wrap-c .navbar-c .navbar-toggler-c {
  height: 40px;
  width: 48px;
  position: relative;
}

.nav-wrap-c .navbar-c .navbar-toggler-c .toggler-div {
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background: black;
  transition: transform .2s, top .2s, background-color .8s;
}

.nav-wrap-c .navbar-c .navbar-toggler-c #toggler-div-1 {
  top: 0px;
}

.nav-wrap-c .navbar-c .navbar-toggler-c #toggler-div-2 {
  top: 15px;
}

.nav-wrap-c .navbar-c .navbar-toggler-c #toggler-div-3 {
  top: 30px;
}

.nav-wrap-c .collapsed-nav-c {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100%;
  background: #010b20;
  transition: .4s;
  overflow: hidden;
  z-index: 100;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c {
  padding: 110px 30px 50px;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c {
  margin: 50px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: end;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c .current-page {
  border-bottom: 2px solid white;
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c .current-page {
    border-bottom: 2px solid black;
  }
}

.nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 30px;
  transition: .7s;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link i {
  font-size: 26px;
  margin-left: 10px;
  color: white;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu {
  display: none;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0;
  cursor: pointer;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link h3 {
  color: white;
  font-weight: lighter;
}

.nav-wrap-c .collapsed-nav-c .nav-button-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-wrap-c .collapsed-nav-c .nav-button-c button {
  width: 70%;
  height: 3rem;
  font-weight: 500;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background: transparent;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .nav-wrap-c {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-wrap-c {
    padding: 0 200px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1450px) {
  .nav-wrap-c {
    padding: 0 300px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c .navbar-c {
    padding: 0;
  }
  .nav-wrap-c .navbar-c .nav-brand-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-wrap-c .navbar-c .nav-brand-c img {
    width: 100%;
  }
  .nav-wrap-c .navbar-c .nav-brand-c img:last-child {
    display: block;
    width: 250%;
  }
  .nav-wrap-c .navbar-c .navbar-toggler-c {
    display: none;
  }
  .nav-wrap-c .collapsed-nav-c {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: none;
    overflow: visible;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: end;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c a {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    position: relative;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link i {
    font-size: 19px;
    color: black;
    transform: translateY(5px);
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #F1F4F2;
    border-radius: 10px;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .menu-divider {
    display: none;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0 20px 20px;
    cursor: pointer;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link h3 {
    color: black;
    font-weight: 500;
    font-size: 20px;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link .drop-down-icon {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
    transition: .3s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  .nav-wrap-c .collapsed-nav-c .nav-button-c {
    display: none;
  }
}

.footer {
  position: relative;
  background-color: #010b20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 80%;
  padding: 0 20px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
  box-shadow: 2px 5px 8px #030114;
  background-image: linear-gradient(to right, #182F60, #05696F, #182F60);
}

.footer .footer-top h2 {
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  font-weight: 400;
}

.footer .footer-top button {
  max-width: 150px;
  font-size: 15px;
  margin: 0;
  border: 2px solid white;
  color: white;
}

@media only screen and (min-width: 992px) {
  .footer .footer-top {
    height: 150px;
    top: -100px;
    padding: 0 100px;
  }
  .footer .footer-top h2 {
    font-size: 27px;
  }
  .footer .footer-top button {
    max-width: 200px;
    font-size: 20px;
  }
}

.footer .footer-about {
  display: none;
}

.footer h2, .footer p, .footer i {
  color: white;
  margin: 10px 5px;
}

.footer p {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .footer p {
    font-size: 15px;
  }
}

.footer-section {
  width: 90%;
  margin: 30px 0;
}

@media only screen and (min-width: 600px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer-contact div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.footer-contact div i {
  font-size: 30px;
}

.footer-contact .fax-icon {
  height: 27px;
  width: 27px;
  border-radius: 5px;
  background-color: white;
  margin: 10px 5px;
}

.footer-contact .fax-icon i {
  font-size: 17px;
  color: #010b20;
}

.footer-hours div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
}

.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.footer-social-icons i {
  font-size: 40px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 100px 20px 0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .footer {
    padding: 100px 10% 0;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .footer {
    padding: 100px 17% 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-section {
    align-items: flex-start;
  }
  .footer .footer-about {
    display: block;
    flex-basis: 50%;
  }
  .footer .footer-about p {
    font-size: 17px;
  }
  .footer .footer-about div:last-child {
    max-width: 200px;
  }
  .footer-contact {
    flex-basis: 50%;
  }
  .footer-hours {
    max-width: 200px;
  }
  .footer-hours p {
    margin: 5px 0;
  }
  .footer-social {
    flex-basis: 20%;
  }
  .footer-social-icons {
    flex-direction: column;
    align-items: flex-end;
  }
}

.header {
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes headerTextAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  max-width: 450px;
  height: 400px;
  padding: 7%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 50;
  animation-name: headerTextAnimation;
  animation-duration: 2s;
}

.header .header-text h2 {
  font-size: 2rem;
  font-weight: 600;
}

.header .header-text .button-outline {
  width: 100%;
}

.header .header-text .button-solid {
  display: none;
}

.header .gradient {
  position: absolute;
  height: 190px;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(rgba(220, 236, 226, 0), #F1F4F2);
}

@keyframes upDown {
  20% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header .down-arrow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: upDown;
  animation-duration: 1s;
  animation-delay: 2s;
  transition: .5s;
}

@media only screen and (min-width: 600px) {
  .header .down-arrow {
    bottom: 20px;
  }
}

.header .down-arrow i {
  position: absolute;
  font-size: 30px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #4e4e4e;
}

.header .down-arrow i:last-child {
  bottom: 0;
}

@media only screen and (min-width: 600px) {
  .header {
    height: 100vh;
  }
  .header .header-text {
    top: 200px;
    padding: 45px;
  }
  .header .gradient {
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: flex-end;
  }
  .header .mobile-background {
    display: none;
  }
  .header .desktop-background {
    display: block;
    width: 140%;
    margin-left: -280px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .header .desktop-background {
    margin-left: -350px;
  }
}

@media only screen and (min-width: 768px) {
  .header .header-text {
    width: 360px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .header .header-text {
    left: 55%;
    width: 430px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .header .header-text {
    left: 60%;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1450px) {
  .header .header-text {
    left: 60%;
    margin-right: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .header .header-text h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .header .header-text h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .header .header-text .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .header .header-text .header-buttons .button-solid {
    display: block;
  }
}

.services {
  padding: 50px 0;
  height: 700px;
  margin: 50px 0;
}

@media only screen and (min-width: 992px) {
  .services {
    margin: 100px 0;
  }
}

.services-title {
  text-align: center;
}

.services-carousel {
  height: 500px;
}

.services-carousel-images {
  position: relative;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .services-carousel-images {
    height: 350px;
  }
}

.services-carousel-images .desktop-image {
  display: none;
}

.services-carousel-images img {
  position: absolute;
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
  transition: .4s ease-in-out;
}

.services-carousel-images .image-active-c {
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.services-carousel-images .image-right-c {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}

.services-carousel-images .image-left-c {
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}

.services-carousel-images .image-behind {
  display: none;
}

.services-carousel-images .curtain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 100%;
  z-index: 20;
  background-color: #F1F4F2;
}

@media only screen and (min-width: 768px) {
  .services-carousel-images .mobile-image {
    display: none;
  }
  .services-carousel-images .desktop-image {
    display: block;
  }
  .services-carousel-images img {
    height: 200px;
    width: 200px;
  }
  .services-carousel-images .image-active-c {
    height: 285px;
    width: 285px;
  }
  .services-carousel-images .image-right-c {
    left: calc(100% - 100px);
  }
  .services-carousel-images .image-left-c {
    left: -100px;
  }
  .services-carousel-images .image-far-right-c {
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .services-carousel-images .image-far-left-c {
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
}

@media only screen and (min-width: 992px) {
  .services-carousel-images .image-right-c {
    left: calc(100% - 260px);
  }
  .services-carousel-images .image-left-c {
    left: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .services-carousel-images .image-right-c {
    left: calc(100% - 350px);
  }
  .services-carousel-images .image-left-c {
    left: 150px;
  }
}

@media only screen and (min-width: 1450px) {
  .services-carousel-images .image-right-c {
    left: calc(100% - 450px);
  }
  .services-carousel-images .image-left-c {
    left: 250px;
  }
}

.services-carousel-info {
  position: relative;
  height: 170px;
  margin: auto;
}

.services-carousel-info .item-active-c {
  opacity: 1;
}

.services-carousel-info-item {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  padding: 0 20px;
  transition: .4s;
}

.services-carousel-info-item-text {
  text-align: center;
}

.services-carousel-info-item-text p {
  font-weight: 500;
  font-size: 14px;
}

.services-carousel-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 450px;
  margin: 30px auto;
}

.services-carousel-controls i {
  font-size: 25px;
  cursor: pointer;
}

.services-carousel-controls-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  max-width: 200px;
}

.services-carousel-controls-indicators div {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  border: 1px solid black;
}

.services-carousel-controls-indicators .indicator-active {
  background-color: #010b20;
}

.quote {
  margin-bottom: 130px;
}

.quote-title h2 {
  text-align: left;
  max-width: 80%;
  max-width: 500px;
}

.quote-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-form form {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quote-form h2, .quote-form h3, .quote-form p {
  color: white;
  font-weight: 300;
  margin: 0;
}

.quote-form-item {
  margin: 1px 0;
  background-color: #010b20;
  width: 80%;
  max-width: 500px;
  transition: .7s;
}

.quote-form-item-wrap {
  display: none;
}

.quote-form-item-title, .quote-form-item-header, .quote-form-item-options, .quote-form-item-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: .4s;
}

.quote-form-item-title img {
  height: 40px;
  object-fit: cover;
  display: none;
}

.quote-form-item-title h2 {
  font-size: 20px;
}

@media only screen and (min-width: 600px) {
  .quote-form-item-title h2 {
    font-size: 25px;
  }
}

.quote-form-item-title div {
  text-align: right;
}

.quote-form-item-header {
  padding: 0 20px 20px 20px;
}

.quote-form-item-header p {
  border-bottom: 1px solid white;
  padding: 6px;
}

.quote-form-item-options input[type="radio"], .quote-form-item-options input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.quote-form-item-options label {
  display: inline-block;
  background-color: #010b20;
  padding: 10px;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.quote-form-item-options label:hover {
  border: 1px solid #bebebe;
}

.quote-form-item-options input[type="radio"]:checked + label, .quote-form-item-options input[type="checkbox"]:checked + label {
  border: 1px solid #bebebe;
}

.quote-form-item-options input[type="number"] {
  width: 100px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 20px;
  text-align: center;
  -moz-appearance: textfield;
}

.quote-form-item-options input[type=number]::-webkit-inner-spin-button,
.quote-form-item-options input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quote-form-item #cleaning-options, .quote-form-item #extras-options, .quote-form-item #frequency-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-form-item #cleaning-options label, .quote-form-item #extras-options label, .quote-form-item #frequency-options label {
  padding: 10px 20px;
}

.quote-form-item #size-options {
  justify-content: center;
}

.quote-form-item-button, .quote-form-item .quote-price-button, .quote-form-item .size-button, .quote-form-item .extras-button {
  width: 80%;
  max-width: 200px;
  padding: 5px;
  background: none;
  border: 2px solid white;
  border-radius: 13px;
  color: white;
  font-size: 30px;
  margin: 0 auto 20px;
  cursor: pointer;
  text-align: center;
}

.quote-form-item .validation-alert {
  color: white;
  text-align: center;
  margin: 20px 0;
  display: none;
}

.quote .quote-icons {
  display: none;
}

.quote .hidden-form {
  width: 90%;
  display: none;
}

.quote .hidden-form-title {
  width: 100%;
  max-width: 500px;
  margin: 100px auto 40px;
}

.quote .hidden-form-title h2 {
  color: black;
  font-weight: 500;
}

.quote .hidden-form-wrap {
  background-color: #010b20;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.quote .hidden-form-wrap input, .quote .hidden-form-wrap textarea {
  background: none;
  border: 2px solid white;
  border-radius: 0;
  color: white;
}

.quote .hidden-form-wrap input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: white;
}

.quote .hidden-form-wrap label {
  color: white;
}

.quote .hidden-form-wrap textarea {
  height: 150px;
}

.quote .hidden-form-wrap button {
  width: 80%;
  max-width: 300px;
  padding: 5px;
  margin: 30px 0;
  background: none;
  border: 2px solid white;
  border-radius: 13px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
}

.quote .open {
  width: 90%;
}

@media only screen and (min-width: 768px) {
  .quote {
    height: 800px;
  }
  .quote .quote-title h2 {
    width: 90%;
    max-width: 700px;
  }
  .quote .quote-form form {
    position: relative;
    height: 350px;
    margin: 0 0 100px 0;
  }
  .quote .quote-form form .quote-form-item-title {
    display: none;
  }
  .quote .quote-form form .quote-form-item {
    position: absolute;
    top: 50px;
    opacity: 0;
    width: 90%;
    max-width: 700px;
    border-radius: 20px;
    padding: 20px;
    z-index: 0;
  }
  .quote .quote-form form .quote-form-item-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .quote .quote-form form .quote-form-item-wrap .quote-form-item-header {
    padding-bottom: 0;
  }
  .quote .quote-form form .quote-form-item-wrap .quote-form-item-button .quote-price-button {
    width: 30%;
    margin: 0 auto;
  }
  .quote .quote-form form .quote-form-item-wrap #cleaning-options, .quote .quote-form form .quote-form-item-wrap #extras-options, .quote .quote-form form .quote-form-item-wrap #frequency-options {
    flex-direction: row;
  }
  .quote .quote-form form .quote-form-item:first-child {
    width: 700px;
  }
  .quote .quote-form form .quote-price div:first-child {
    display: block;
  }
  .quote .quote-form form .fade-in {
    opacity: 1;
    z-index: 10;
  }
  .quote .quote-form form .quote-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 900px;
    padding-top: 550px;
  }
  .quote .quote-form form .quote-icons-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
  .quote .quote-form form .quote-icons-item-icon {
    min-height: 50px;
    width: 50px;
    background-color: #010b20;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .quote .quote-form form .quote-icons-item-icon img {
    width: 80%;
  }
  .quote .quote-form form .quote-icons-item-text, .quote .quote-form form .quote-icons-item .size-text, .quote .quote-form form .quote-icons-item .extras-text {
    padding: 10px;
    margin: 5px 0;
    background-color: #010b20;
    color: white;
    border-radius: 10px;
    opacity: 0;
    transition: .6s;
  }
  .quote .quote-form form .quote-icons-item .extras-text {
    opacity: 1;
  }
  .quote .quote-form form .quote-icons-item:nth-child(2) img {
    width: 65%;
  }
  .quote .quote-form form .hidden-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3000;
    overflow: scroll;
    display: none;
  }
  .quote .quote-form form .hidden-form-top {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: end;
  }
  .quote .quote-form form .hidden-form-top-btn {
    position: relative;
    height: 50px;
    width: 50px;
  }
  .quote .quote-form form .hidden-form-top-btn div {
    position: absolute;
    top: 20px;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: black;
    transform: rotate(45deg);
  }
  .quote .quote-form form .hidden-form-top-btn div:last-child {
    transform: rotate(-45deg);
  }
  .quote .quote-form form .hidden-form-title {
    background-color: #010b20;
    margin: 0 0 -1px 0;
    max-width: 600px;
    padding: 20px;
  }
  .quote .quote-form form .hidden-form-title h2 {
    color: white;
    font-size: 25px;
  }
  .quote .quote-form form .hidden-form-wrap {
    max-width: 600px;
    margin: 0;
  }
}

.success-wrap .success-header {
  padding: 200px 20px;
}

.success-wrap .success-header h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 30px;
}

.success-wrap .success-header p {
  font-size: 23px;
}
