* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #F1F4F2;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 30px;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1200px) {
  .section-title {
    font-size: 33px;
  }
}

@media only screen and (min-width: 1450px) {
  .section-title {
    font-size: 40px;
  }
}

.nav-wrap-c {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: .7s;
}

.nav-wrap-c .navbar-c {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  background: none;
  transition: background-color .8s, height .8s;
  z-index: 110;
}

.nav-wrap-c .navbar-c .nav-brand-c {
  height: 60px;
  width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transition: .8s;
}

.nav-wrap-c .navbar-c .nav-brand-c h2 {
  transition: .8s;
}

.nav-wrap-c .navbar-c .nav-brand-c img {
  width: 100%;
}

.nav-wrap-c .navbar-c .nav-brand-c img:last-child {
  display: none;
}

.nav-wrap-c .navbar-c .navbar-toggler-c {
  height: 40px;
  width: 48px;
  position: relative;
}

.nav-wrap-c .navbar-c .navbar-toggler-c .toggler-div {
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 5px;
  background: black;
  transition: transform .2s, top .2s, background-color .8s;
}

.nav-wrap-c .navbar-c .navbar-toggler-c #toggler-div-1 {
  top: 0px;
}

.nav-wrap-c .navbar-c .navbar-toggler-c #toggler-div-2 {
  top: 15px;
}

.nav-wrap-c .navbar-c .navbar-toggler-c #toggler-div-3 {
  top: 30px;
}

.nav-wrap-c .collapsed-nav-c {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100%;
  background: #010b20;
  transition: .4s;
  overflow: hidden;
  z-index: 100;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c {
  padding: 110px 30px 50px;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c {
  margin: 50px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: end;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c .current-page {
  border-bottom: 2px solid white;
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c .current-page {
    border-bottom: 2px solid black;
  }
}

.nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 30px;
  transition: .7s;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link i {
  font-size: 26px;
  margin-left: 10px;
  color: white;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0;
  cursor: pointer;
}

.nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link h3 {
  color: white;
  font-weight: lighter;
}

.nav-wrap-c .collapsed-nav-c .nav-button-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-wrap-c .collapsed-nav-c .nav-button-c button {
  width: 70%;
  height: 3rem;
  font-weight: 500;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background: transparent;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .nav-wrap-c {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-wrap-c {
    padding: 0 200px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1450px) {
  .nav-wrap-c {
    padding: 0 300px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c .navbar-c {
    padding: 0;
  }
  .nav-wrap-c .navbar-c .nav-brand-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-wrap-c .navbar-c .nav-brand-c img {
    width: 100%;
  }
  .nav-wrap-c .navbar-c .nav-brand-c img:last-child {
    display: block;
    width: 250%;
  }
  .nav-wrap-c .navbar-c .navbar-toggler-c {
    display: none;
  }
  .nav-wrap-c .collapsed-nav-c {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: none;
    overflow: visible;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: end;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-wrap-c .collapsed-nav-c .nav-links-c .nav-link-c a {
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    position: relative;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .services-nav-link i {
    font-size: 19px;
    color: black;
    transform: translateY(5px);
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 0;
    background-color: #F1F4F2;
    border-radius: 10px;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .menu-divider {
    display: none;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0 20px 20px;
    cursor: pointer;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link h3 {
    color: black;
    font-weight: 500;
    font-size: 20px;
  }
  .nav-wrap-c .collapsed-nav-c .nav-links-c #services-drop-down .drop-down-menu .drop-down-link .drop-down-icon {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
    transition: .3s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  .nav-wrap-c .collapsed-nav-c .nav-button-c {
    display: none;
  }
}

.footer {
  background-color: #010b20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h2, .footer p, .footer i {
  color: white;
  margin: 10px 5px;
}

.footer p {
  font-size: 20px;
}

.footer-section {
  width: 90%;
  margin: 30px 0;
}

.footer-section div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.footer-contact div {
  justify-content: flex-start;
}

.footer-contact div i {
  font-size: 30px;
}

.footer-contact .fax-icon {
  height: 27px;
  width: 27px;
  border-radius: 5px;
  background-color: white;
  margin: 10px 5px;
}

.footer-contact .fax-icon i {
  font-size: 17px;
  color: #010b20;
}

.footer-hours div {
  width: 100%;
}

.footer-social-icons {
  width: 60%;
  margin: auto;
}

.footer-social-icons i {
  font-size: 40px;
}

.header {
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.header .desktop-background {
  display: none;
}

@keyframes headerTextAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 450px;
  height: 400px;
  padding: 7%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 50;
  animation-name: headerTextAnimation;
  animation-duration: 2s;
}

.header .header-text h2 {
  font-size: 2rem;
  font-weight: 600;
}

.header .header-text button {
  align-self: flex-start;
  padding: 15px;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.header .gradient {
  position: absolute;
  height: 190px;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(rgba(220, 236, 226, 0), #F1F4F2);
}

@keyframes upDown {
  20% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.header .down-arrow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: upDown;
  animation-duration: 1s;
  animation-delay: 2s;
  transition: .5s;
}

@media only screen and (min-width: 600px) {
  .header .down-arrow {
    bottom: 20px;
  }
}

.header .down-arrow i {
  position: absolute;
  font-size: 30px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #4e4e4e;
}

.header .down-arrow i:last-child {
  bottom: 0;
}

@media only screen and (min-width: 600px) {
  .header {
    height: 100vh;
  }
  .header .header-text {
    top: 200px;
    padding: 45px;
  }
  .header .gradient {
    bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    justify-content: flex-end;
  }
  .header .mobile-background {
    display: none;
  }
  .header .desktop-background {
    display: block;
    width: 140%;
    margin-left: -280px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .header .desktop-background {
    margin-left: -350px;
  }
}

@media only screen and (min-width: 768px) {
  .header .header-text {
    width: 360px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .header .header-text {
    left: 55%;
    width: 430px;
    margin-right: 100px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .header .header-text {
    left: 60%;
    margin-right: 200px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1450px) {
  .header .header-text {
    left: 60%;
    margin-right: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .header .header-text h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .header .header-text h2 {
    font-size: 2rem;
  }
}

.services {
  padding: 50px 0;
  height: calc(100vh + 80px);
}

.services-title {
  text-align: center;
}

.services-carousel {
  height: 500px;
}

.services-carousel-images {
  position: relative;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .services-carousel-images {
    height: 350px;
  }
}

.services-carousel-images .desktop-image {
  display: none;
}

.services-carousel-images img {
  position: absolute;
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
  transition: .4s ease-in-out;
}

.services-carousel-images .image-active-c {
  height: 200px;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.services-carousel-images .image-right-c {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}

.services-carousel-images .image-left-c {
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
}

.services-carousel-images .image-behind {
  display: none;
}

.services-carousel-images .curtain {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 100%;
  z-index: 20;
  background-color: #F1F4F2;
}

@media only screen and (min-width: 768px) {
  .services-carousel-images .mobile-image {
    display: none;
  }
  .services-carousel-images .desktop-image {
    display: block;
  }
  .services-carousel-images img {
    height: 200px;
    width: 200px;
  }
  .services-carousel-images .image-active-c {
    height: 285px;
    width: 285px;
  }
  .services-carousel-images .image-right-c {
    left: calc(100% - 100px);
  }
  .services-carousel-images .image-left-c {
    left: -100px;
  }
  .services-carousel-images .image-far-right-c {
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  .services-carousel-images .image-far-left-c {
    left: -50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
}

@media only screen and (min-width: 992px) {
  .services-carousel-images .image-right-c {
    left: calc(100% - 260px);
  }
  .services-carousel-images .image-left-c {
    left: 60px;
  }
}

@media only screen and (min-width: 1200px) {
  .services-carousel-images .image-right-c {
    left: calc(100% - 350px);
  }
  .services-carousel-images .image-left-c {
    left: 150px;
  }
}

@media only screen and (min-width: 1450px) {
  .services-carousel-images .image-right-c {
    left: calc(100% - 450px);
  }
  .services-carousel-images .image-left-c {
    left: 250px;
  }
}

.services-carousel-info {
  position: relative;
  height: 170px;
  margin: auto;
}

.services-carousel-info .item-active-c {
  opacity: 1;
}

.services-carousel-info-item {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  padding: 0 20px;
  transition: .4s;
}

.services-carousel-info-item-text {
  text-align: center;
}

.services-carousel-info-item-text p {
  font-weight: 500;
  font-size: 14px;
}

.services-carousel-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 450px;
  margin: 30px auto;
}

.services-carousel-controls i {
  font-size: 25px;
  cursor: pointer;
}

.services-carousel-controls-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  max-width: 200px;
}

.services-carousel-controls-indicators div {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  border: 1px solid black;
}

.services-carousel-controls-indicators .indicator-active {
  background-color: #010b20;
}

.quote-title {
  text-align: center;
}

.quote-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-form form {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.quote-form h2, .quote-form h3, .quote-form p {
  color: white;
  font-weight: 300;
  margin: 0;
}

.quote-form input {
  width: 100px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  text-align: center;
}

.quote-form .open {
  width: 90%;
  max-width: 500px;
}

.quote-form-item {
  margin: 1px 0;
  background-color: #010b20;
  width: 80%;
  max-width: 450px;
  transition: .4s;
}

.quote-form-item .quote-form-item-wrap {
  display: none;
}

.quote-form-item-title, .quote-form-item-header, .quote-form-item-options, .quote-form-item-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: .4s;
}

.quote-form-item-header {
  padding: 0 20px 20px 20px;
}

.quote-form-item-header p {
  border-bottom: 1px solid white;
  padding: 6px;
}

.quote-form-item-options input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.quote-form-item-options label {
  display: inline-block;
  background-color: #010b20;
  padding: 10px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
}

.quote-form-item-options input[type="radio"]:checked + label {
  background-color: #8f8f8f;
}

.quote-form-item-options input[type="text"] {
  border-bottom: 1px solid white;
}

.quote-form-item #cleaning-options, .quote-form-item #extras-options, .quote-form-item #frequency-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-form-item #cleaning-options label, .quote-form-item #extras-options label, .quote-form-item #frequency-options label {
  padding: 10px 20px;
}

.quote-form-item-button {
  width: 80%;
  padding: 5px;
  background: none;
  border: 2px solid white;
  border-radius: 13px;
  color: white;
  font-size: 30px;
  margin: 0 auto 20px;
}

.quote-form-item:first-child {
  border-radius: 10px 10px 0 0;
}

.quote-form-item:last-child {
  border-radius: 0 0 10px 10px;
}

@media only screen and (min-width: 768px) {
  .quote-form {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quote-form p {
    font-size: 20px;
  }
  .quote-form input {
    width: 100px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .quote-form .open {
    width: 90%;
    max-width: 500px;
  }
  .quote-form-item {
    margin: 1px 0;
    background-color: #010b20;
    width: 80%;
    max-width: 450px;
    transition: .4s;
  }
  .quote-form-item .quote-form-item-wrap {
    display: none;
  }
  .quote-form-item-title, .quote-form-item-header, .quote-form-item-options, .quote-form-item-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: .4s;
  }
  .quote-form-item-header p {
    border-bottom: 1px solid white;
    padding: 6px;
  }
  .quote-form-item-options div {
    margin: 10px;
  }
  .quote-form-item-button button {
    width: 80%;
    padding: 5px;
    background: none;
    border: 2px solid white;
    border-radius: 13px;
    color: white;
    font-size: 30px;
  }
  .quote-form-item:first-child {
    border-radius: 10px 10px 0 0;
  }
  .quote-form-item:last-child {
    border-radius: 0 0 10px 10px;
  }
}
