.footer {
    position: relative;
    background-color: $logo_blue;
    @include flex_centered(column);
    padding-top: 50px;

    .footer-top {
        @include flex_centered(row);
        justify-content: space-between;
        height: 100px;
        width: 80%;
        padding: 0 20px;
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 25px;
        box-shadow: 2px 5px 8px rgb(3, 1, 20);
        background-image: linear-gradient(to right, #182F60, #05696F,#182F60);
        
        h2 {
            width: 50%;
            min-width: 150px;
            font-size: 18px;
            font-weight: 400;
        }
        a{
            width: 150px;
            button {
                width: 100%;
                max-width: 150px;
                font-size: 15px;
                margin: 0;
                border: 2px solid white;
                color: white;
            }
        }
        @include responsive($desktop){
            height: 150px;
            top: -100px;
            padding: 0 100px;

            h2{
                font-size: 27px;
            }
            button {
                max-width: 200px;
                font-size: 20px;
            }
        }

    }
    .footer-about{
        display: none;
    }
    h2, p, i {
        color: white;
        margin: 10px 5px;
    }
    p {
        font-size: 20px;
        @include responsive($tablet_large) {
            font-size: 15px;
        }
    }

    &-section {
        width: 90%;
        margin: 30px 0;
        @include responsive($tablet) {
            @include flex_centered(column);
        }
    }
    &-contact {
        div {
            @include flex_centered(row);
            justify-content: flex-start;


            i {
                font-size: 30px;
            }
        }
        .fax-icon {
            height: 27px;
            width: 27px;
            border-radius: 3px;
            background-color: white;
            margin: 10px 5px;

            i {
                font-size: 17px;
                color: $logo_blue;
            }
        }

    }
    &-hours {
        div {
            @include flex_centered(row);
            justify-content: space-between;
            width: 100%;
            max-width: 350px;
        }
    }
    &-social {
        &-icons {
            @include flex_centered(row);
            justify-content: space-between;
            width: 60%;
            margin: auto;

            i {
                font-size: 40px;
            }
        }
    }
    
}


@include responsive($tablet){
    .footer {
        padding: 100px 20px 0;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include responsive($desktop){
            padding: 100px 10% 0;
        }
        @include responsive($desktop_large){
            padding: 100px 17% 0;
        }

        &-section {
            align-items: flex-start;
        }
        &-contact {
            flex-basis: 35%;
        }
        &-hours {
            flex-basis: 50%;
            max-width: 300px;
           
            p {
                margin: 5px 0;
            }
        }
        &-social {
            flex-basis: 100%;
            &-icons {
                width: 30%;
                align-items: flex-end;
            }
        }
    }
}

@include responsive($tablet_large){
    .footer{
        flex-wrap: nowrap;
        .footer-about {
             display: block;
             flex-basis: 50%;
 
             p {
                 font-size: 17px;
                }
                div:last-child {
                    max-width: 200px;
                }
            }
            &-contact {
                flex-basis: 50%;
            }
            &-social {
                flex-basis: 30%;
            }
            &-social {
                &-icons {
                    flex-direction: column;
                }
            }
        }
    }