.nav-wrap-c {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: .7s;

    .navbar-c {
        position: relative;
        z-index: 10;
        @include flex_centered(row);
        justify-content: space-between;
        height: 100px;
        padding: 20px;
        background: none;
        transition: background-color .8s, height .8s;
        z-index: 110;
        .nav-brand-c {
            height: 60px;
            width: 140px;
            @include flex_centered(row);
            justify-content: flex-start;
            transition: .8s;

            img {
                width: 100%;
            }
        }
        .navbar-toggler-c {
            height: 40px;
            width: 48px;
            position: relative;
        
            .toggler-div {
                position: absolute;
                height: 5px;
                width: 100%;
                border-radius: 5px;
                background: black;
                transition: transform .2s, top .2s, background-color .8s; 
            }
            #toggler-div-1 {
                top: 0px;
            }
            #toggler-div-2{
                top: 15px;
            }
            #toggler-div-3{
                top: 30px;
            }
        }
    }
    .collapsed-nav-c {
        position: absolute;
        top: 0;
        left: 100%;  
        height: 120vh;
        width: 100%;
        background: $logo_blue;
        transition: .4s;
        overflow: hidden;
        z-index: 100;

        .nav-links-c {
            padding: 110px 30px 50px;

            .nav-link-c {
                margin: 50px 0;
                cursor: pointer;
                @include flex_centered(row);
                justify-content: end;
                
                .current-page {
                    border-bottom: 2px solid white;
                    @include responsive($tablet_large) {
                        border-bottom: 2px solid black;
                    }
                }
                h2{
                    color: white;
                    a {
                        text-decoration: none;
                        font-weight: 400;
                        font-size: 30px;
                        transition: .7s;
                    }
                }
            }
            #booking-btn {
                display: flex;
                justify-content: center;
                color: white
            }
            #services-drop-down{
                @include flex_centered(column);
                align-items: flex-end;

                .services-nav-link {
                    @include flex_centered(row);
        
                    i {
                        font-size: 26px;
                        margin-left: 10px;   
                        color: white; 
                    }
                }
                
                .drop-down-menu {
                    display: none;
                    // height: 0;
                    // overflow: hidden;
                    // transition: .5s;

                    .drop-down-link {
                        @include flex_centered(row);
                        justify-content: flex-start;                  
                        margin: 30px 0;
                        cursor: pointer;

                        h3 {
                            color: white;
                            font-weight: lighter;
                        }
                    }
                }
            }
        }
        .nav-button-c {
            @include flex_centered(row);

            button {
                width: 70%;
                height: 3rem;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

// *********************  MEDIA QUERIES  *******************
@include responsive($tablet_large){
    .nav-wrap-c{
        padding: 0 50px;
        .navbar-c {
            padding: 0;
        }
    }
}
@include responsive($desktop) {

    .nav-wrap-c {
        background-color: white;
        @include flex_centered(row);
        padding: 0 100px;
        background: transparent;
        @include responsive($desktop_large){
            padding: 0 200px;
        }
        @include responsive($desktop_xl){
            padding: 0 300px;
        }
    
        .navbar-c {
            padding: 0;

            .nav-brand-c {
                @include flex_centered(row);
                justify-content: flex-start;
                width: 150px;
                @include responsive($desktop_xl){
                    width: 200px;
                }
    
                img {
                    width: 100%;
                }
            }
            .navbar-toggler-c {
               display: none;
            }
        }
        .collapsed-nav-c {
            position: relative;
            top: 0;
            left: 0;  
            height: 100%;
            background: none;
            overflow: visible;
    
            .nav-links-c {
                position: relative;
                padding: 0;
                @include flex_centered(row);
                justify-content: flex-end;
    
                .nav-link-c {
                    margin: 0 10px;
                    @include responsive($desktop_large){
                        margin: 0 15px;
                    }
                    
                    h2{
                        display: flex;
                        align-items: center;
                        a {
                            color: black;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
                #booking-btn {
                    color: $logo_blue;
                    border: 1px solid $logo_blue;
                    min-width: 138px
                }
                #services-drop-down{
                    @include flex_centered(column);
                    align-items: flex-end;
                    position: relative;
    
                    .services-nav-link {
                        @include flex_centered(row);
            
                        i {
                            font-size: 19px;  
                            color: rgb(0, 0, 0); 
                            transform: translateY(5px);
                        }
                    }
                    
                    .drop-down-menu {
                        position: absolute;
                        top: 55px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 200px;
                        background-color: $background_green;
                        border-radius: 10px;
    
                        .menu-divider {
                            display: none;
                        }
                        .drop-down-link {
                            @include flex_centered(row);
                            justify-content: flex-start;                  
                            margin: 20px 0 20px 20px;
                            cursor: pointer;
    
                            h3 {
                                color: black;
                                font-weight: 500;
                                font-size: 20px;
                            }
                            .drop-down-icon {
                                height: 30px;
                                width: 30px;
                                margin: 0 10px 0 0;
                                transition: .3s;
                                transform-style: preserve-3d;
                                perspective: 1000px;
                            }
                        }
                    }
                }
            }
            .nav-button-c {
                display: none;
            }
        }
    }

}

// @include responsive($tablet_large) {

//     .nav-wrap-c {
//         padding: 0 5%;

//         .logo-c {
//             @include flex_centered(row);
//         }
//         .logo-c h3 {
//             display: block;
//         }
//     }

// }

// @include responsive($desktop) {
//     .nav-wrap-c {
//         padding: 0 12%;
//     }
// }


