.home-background-img {
    position: fixed;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100vw;
    background-image: url("../images/water.webp");
    background-size: cover;
    z-index: -1;
}