.quote {
    &-title {
        text-align: center;
    }
    &-form {
        @include flex_centered(column);
        
        form {
            margin: 50px 0;
            @include flex_centered(column);
            width: 100%;
        }
        h2, h3, p {
            color: white;
            font-weight: 300;
            margin: 0;
        }
        input {
            width: 100px;
            background: none;
            border: none;
            color: white;
            font-size: 20px;
            text-align: center;
        }
        .open{
            width: 90%;
            max-width: 500px;
        }
        &-item {
            margin: 1px 0;
            background-color: $logo_blue;
            width: 80%;
            max-width: 450px;
            transition: .4s;
           
           .quote-form-item-wrap {
               display: none;
           }
            &-title, &-header, &-options, &-button {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-items: center;
                text-align: center;
                padding: 20px;
                transition: .4s;
            }
            &-header {
                padding: 0 20px 20px 20px;
            }
            &-header p{
                border-bottom: 1px solid white;
                padding: 6px;
            }
            &-options{
                input[type="radio"] {
                    opacity: 0;
                    position: fixed;
                    width: 0
                }
                label {
                    display: inline-block;
                    background-color: $logo_blue;
                    padding: 10px;
                    font-size: 16px;
                    // border: 2px solid white;
                    color: white;
                    border-radius: 4px;
                    // margin: 10px 0;
                }
                input[type="radio"]:checked + label {
                    background-color: rgb(143, 143, 143);
                }       
                input[type="text"] {
                    border-bottom: 1px solid white;
                }
            } 
            #cleaning-options, #extras-options, #frequency-options{
                @include flex_centered(column);
                label {
                    padding: 10px 20px;
                }
            }
            &-button{
                width: 80%;
                padding: 5px;
                background: none;
                border: 2px solid white;
                border-radius: 13px;
                color: white;
                font-size: 30px;
                margin: 0 auto 20px;
            }
        
        }
        &-item:first-child {
            border-radius: 10px 10px 0 0 ;
        }
        &-item:last-child {
            border-radius: 0 0 10px 10px;
        }
    }
    @include responsive($tablet_large) {
        &-form {
            margin: 50px 0;
            @include flex_centered(column);
    
            p {
                font-size: 20px;
            }
            input {
                width: 100px;
                background: none;
                border: none;
                color: white;
                font-size: 20px;
                text-align: center;
            }
            .open{
                width: 90%;
                max-width: 500px;
            }
            &-item {
                margin: 1px 0;
                background-color: $logo_blue;
                width: 80%;
                max-width: 450px;
                transition: .4s;
               
               .quote-form-item-wrap {
                   display: none;
               }
                &-title, &-header, &-options, &-button {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    text-align: center;
                    padding: 20px;
                    transition: .4s;
                }
                &-header p{
                    border-bottom: 1px solid white;
                    padding: 6px;
                }
                &-options div{
                    margin: 10px;
                }         
                &-button button {
                    width: 80%;
                    padding: 5px;
                    background: none;
                    border: 2px solid white;
                    border-radius: 13px;
                    color: white;
                    font-size: 30px;
                }
            
            }
            &-item:first-child {
                border-radius: 10px 10px 0 0 ;
            }
            &-item:last-child {
                border-radius: 0 0 10px 10px;
            }
        } 
    }
}
