.services {
    padding: 50px 0;
    height: 95vh;

    &-title {
        text-align: center;

    }

    &-carousel {
        height: 500px;
        
        &-images {
            position: relative;
            height: 300px;
            @include responsive($tablet_large) {
                height: 350px;
            }

            .desktop-image {
                display: none;
            }
            img {
                position: absolute;
                height: 130px;
                width: 130px;
                object-fit: cover;
                border-radius: 50%;
                transition: .4s ease-in-out;
            }
            .image-active-c {
                height: 200px;
                width: 200px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 30;
            }
            .image-right-c {
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                z-index: 30;
            }
            .image-left-c {
                left: -130px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 30;
            }
            .image-behind {
                display: none;
            }
            .curtain {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 120%;
                height: 100%;
                z-index: 20;
                background-color: $background_green;
            }
            @include responsive($tablet_large) {
                .mobile-image {
                    display: none;
                }
                .desktop-image {
                    display: block;
                }
                img {
                    height: 200px;
                    width: 200px;
                }
                .image-active-c {
                    height: 285px;
                    width: 285px;
                }
                .image-right-c {
                    left: calc(100% - 100px);
                }
                .image-left-c {
                    left: -100px;
                }
                .image-far-right-c {
                    left: 150%;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;
                }
                .image-far-left-c {
                    left: -50%;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 10;
                }
            }
            @include responsive($desktop) {
                .image-right-c {
                    left: calc(100% - 260px);
                }
                .image-left-c {
                    left: 60px;
                }
            }
            @include responsive($desktop_large) {
                .image-right-c {
                    left: calc(100% - 350px);
                }
                .image-left-c {
                    left: 150px;
                }
            }
            @include responsive($desktop_xl) {
                .image-right-c {
                    left: calc(100% - 450px);
                }
                .image-left-c {
                    left: 250px;
                }
            }

        }
        &-info {
            position: relative;
            height: 170px;
            margin: auto;

            .item-active-c {
                opacity: 1;
            }
            &-item {
                position: absolute;
                height: 100%;
                width: 100%;
                max-width: 500px;
                left: 50%; 
                transform: translateX(-50%);
                @include flex_centered(column);   
                justify-content: space-between;
                opacity: 0;
                padding: 0 20px;
                transition: .4s;

                &-text {
                    text-align: center;

                    p {
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
        }
        &-controls {
            @include flex_centered(row);
            justify-content: space-between;
            width: 80%;
            max-width: 450px;
            margin: 30px auto;

            i {
                font-size: 25px;
                cursor: pointer;
            }
            &-indicators {
                @include flex_centered(row);
                justify-content: space-between;
                width: 40%;
                max-width: 200px;

                div {
                    height: 15px; 
                    width: 15px;
                    border-radius: 50px;
                    border: 1px solid black;
                }
                .indicator-active {
                    background-color: $logo_blue;
                }
            }
        }
    }
    @include responsive($desktop){
        height: 110vh;
    }
}

