button {
    width: 80%;
    max-width: 200px;
    padding: 10px;
    border: 2px solid $logo_blue;
    font-size: 16px;
    margin: 0 10px;
    transition: .3s;
    border-radius: 13px;
}
.button-outline {
    background: none;
    color: black;
}
.button-outline:hover {
    background-color: $logo_blue;
    color: white;
}
.button-solid {
    background-color: $logo_blue;
    border: 2px solid $logo_blue;
    color: white;
}
.button-solid:hover {
    background: none;
    color: black;
}