* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  // background-color: $background_green;
  background-color: white;
}