body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    max-width: 80%;
    margin: auto;
    @include responsive($tablet_large) {
        font-size: 30px;
        font-weight: 700;
    }
    @include responsive($desktop_large) {
        font-size: 33px;
    }
}