.contact {
    padding: 150px 20px 250px;
    height: fit-content;
    background-image: url("../images/services-bg.jpg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f8faf9;

    @include responsive($tablet){
        padding: 150px 50px 300px;
    }
    @include responsive($tablet_large){
        padding: 150px 50px 350px;
    }
    @include responsive($desktop){
        padding: 150px 100px 450px;
    }
    @include responsive($desktop_large){
        padding: 150px 200px 450px;
        background-position: 0 400px;
    }
    @include responsive($desktop_xl){
        padding: 150px 300px 450px;
        background-position: 0 250px;
    }

    h1{
        margin: 0 0  30px 0;
    }
    .contact-form {
        margin: auto;
        
        input, textarea {
            background: none;
            border: 1px solid rgb(75, 75, 75);
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
        #message {
            height: 150px;
        }
    }


}