.success-wrap {
    // background-image: url("../images/ripples 3.jpg");
    .success-header {
        padding: 200px 20px;
        h1 {
            font-size: 35px;
            font-weight: 900;
            margin-bottom: 30px;
        }
        p {
            font-size: 23px;
        }
    }
}