.cleaning {
    position: relative;
    height: fit-content;
    padding: 150px 20px 250px;
    background-image: linear-gradient(#f8faf9 550px, #cee5f3 551px);
    overflow: hidden;

    @include responsive($tablet){

    }
    @include responsive($tablet_large){
        padding: 150px 50px 350px;     
    }
    @include responsive($desktop) {
        padding: 150px 100px 450px;     
    }
    @include responsive($desktop_large){
        padding: 150px 200px 550px;     
    }
    @include responsive($desktop_xl){
        padding: 150px 300px 750px;     
    }

    #services-bg {
        position: absolute;
        width: 100%;
        object-fit: cover;
        top: 500px;
        left: 0;
        @include responsive($tablet){
            top: 350px;
        }
    }
    .cleaning-gradient {
        // display: none; 
        width: 100%;
        height: 747px;
        position: absolute;
        display: block;
        left: 0;
        top: 700px;
        background: linear-gradient(to right, #cee5f3, #d9ebf5);
        @include responsive($tablet_large){
            width: 100%;
            height: 747px;
            position: absolute;
            display: block;
            left: 0;
            top: 860px;
            background: linear-gradient(to right, #cee5f3, #d9ebf5);
        }
        @include responsive($desktop) {
            top: 1010px;
        }
        @include responsive($desktop_large) {
            top: 1090px;
        }
        @include responsive($desktop_xl) {
            top: 1290px;
        }
    }

    h1{
        margin: 0 0 50px 0;
        font-weight: 700;
    }
    .accordion-item {
        position: relative;
        margin: 15px 0;
        
        &-header {
            @include flex_centered(row);
            justify-content: space-between;
            border-bottom: 1px solid black;

            h2 {
                font-size: 34px;
                font-weight: 400;
            }
            .accordion-toggle {
                position: relative;
                height: 40px;
                width: 40px;
                cursor: pointer;

                div {
                    position: absolute;
                    height: 3px;
                    width: 60%;
                    border-radius: 2px;
                    background-color: black;
                    top: 50%;
                    left: 38%;
                    transition: .4s;
                }
                .toggle-2{
                    transform: rotate(90deg);
                }
                .accordion-open {
                    transform: rotate(0);
                }
            }
        }
        &-content {
            display: none;
            &-wrap {
                padding: 0 20px;
                display: flex;
                flex-wrap: wrap;
                background-color: rgba($color: #f1f1f1, $alpha: 0.5);
                border-radius: 10px;

                .room{
                    position: relative;
                    padding: 15px;
                    width: 100%;
                    min-width: 150px;
                    @include responsive($tablet_large){
                        flex-basis: 33%;
                    }

                    &-img {
                        display: none;
                    }
                    &-title {
                        h3 {
                            font-size: 25px;
                            font-weight: 500;
                            color: $logo_blue;
                        }
                    }
                    &-list {
                        ul {
                            list-style: none;
                            li {
                                margin: 5px 0;
                                p {
                                    font-size: 18px;
                                    color: $logo_blue;
                                }
                            }
                        }                      
                    }

                }
                @include responsive($desktop){
                    padding: 30px 20px;
                    background-color: transparent;
                    .room {
                        max-height: 300px;
                        padding: 0;
                        margin: 10px;
                        flex-basis: 30%;
                        overflow: hidden;
                        background-color: white;
                        border-radius: 10px;
                        box-shadow: 0 5px 5px rgba($color: #000000, $alpha: .3);
                        transition: 2s;
                        cursor: pointer;

                        &-img {
                            @include flex_centered(row);
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            transition: 1s;

                            img {
                                height: 125%;
                                width: 100%;
                                opacity: 1;
                                object-fit: cover;
                                transition: height 3s ease-out, opacity .3s linear;
                            }
                        }
                        &-title{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            padding: 10px 10%;
                            background-color: rgba($color: #ffffff, $alpha: .7);
                            text-align: center;
                            transition: .5s;
                            h3 {
                                font-size: 35px;
                                font-weight: 800;
                            }
                        }
                        // &-list {
                        // }
                    }
                    .room:hover .room-img img {
                        height: 150%
                    }
                }
            }
        }
    }

}